* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.2;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.active {
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
}

header #logo {
  height: 4rem;
  margin: 0, 5rem 1rem;
}

header nav {
  display: flex;
  align-items: center;
  text-align: center;



}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

header nav ul li {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li:hover {
  background-color: #007BFF;
  color: #fff;
  border-radius: 5px;
}

main {
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.jumbotron-container {
  width: 100%;
  height: 400px;
  position: relative;
}

.jumbotron {
  width: 100%;
  height: 100%;
}

.main-button {
  position: absolute;
  bottom: 0px;
  left: 15%;
  transform: translateX(-50%);
  padding: 0.75rem 1.5rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

footer {
  background-image: url('/img/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.pre-footer-img {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  width: 50px;

}

p {
  color: white;
}




footer img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.flex-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 0;
  height: 150px;
  width: 100%;
  background-color: rgb(49, 137, 239);
}


.boxed {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;

}

.footer-Col {
  display: flex;
  width: 30%;
  margin-top: 2rem;
  flex-basis: 0;
  gap: 1rem;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;

}





.first-ul {
  list-style: none;
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

li {
  display: flex;
  list-style: none;
  height: 20px;
  margin: 0;
  padding: 0;
}

.first-ul li:first-child {
  font-weight: bold;
  margin-bottom: 1rem;

}

.first-ul li {
  cursor: pointer;
  font-size: 14px;
}

.first-ul li:hover {
  text-decoration: underline;
}

h4 {
  color: white;
  margin: 0;
  padding: 0;
}

h4:hover {
  text-decoration: underline;
}

.comics {
  display: flex;
  flex-wrap: wrap;

}

.comic-card {
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  width: 20%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);


}

.comic-card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: #007BFF;
}

.social {
  display: flex;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  padding: 1rem 0;
}

.social img {
  margin: 0 1rem;
  padding: 0.75rem;
  justify-content: space-between;

}

.footer-button {
  box-shadow: #007BFF 0px 10px 15px;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
  display: flex;
  margin: 0 auto;
  border-bottom: #007BFF 2px solid;

}

.footer-button:hover {
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: none;
}

span {
  color: #007BFF;
  font-weight: bold;
  margin-top: 8rem;
}


img {
  cursor: pointer;
  transition: transform 0.3s;
  padding: 1rem 0;
  margin: 1rem 0;
}

.LOAD {
  box-shadow: #007BFF 0px 10px 15px;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
  display: flex;
  margin: 0 auto;
  border-bottom: #007BFF 2px solid;
}

.LOAD:hover {
  background-color: #007BFF;
  color: white;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: none;

}