* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.active {
  background-color: cadetblue;
  color: white;
  border-radius: 5px;
}

header #logo {
  height: 4rem;
  margin: 0, 5rem 1rem;
}

header nav {
  display: flex;
  align-items: center;
  text-align: center;



}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: center;
  justify-content: center;

}

header nav ul li {
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li:hover {
  background-color: blue;
  color: #fff;
  border-radius: 5px;
}

main {
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

footer {
  background-image: url('/img/footer-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.imag {
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-right: 1rem;
  justify-content: space-around;
  width: 15%;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;


}

footer img {
  min-height: 100%;
  margin: 0 1rem;
  justify-content: end;
}

footer img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  background-color: rgb(24, 102, 246);
  height: 200px;
  width: 100%;
}


.boxed {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;



}

.footer-Column {
  display: flex;
  width: 33%;
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
  text-align: left;
  justify-content: flex-start;

}



.footer-Column .imag img {
  margin: 0.5rem 0;

}

.first-ul {
  list-style: none;
  text-align: center;
  color: gray;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

li {
  list-style: none;
  height: 20px;
  margin: 0;
  padding: 0;

}

.first-ul li:first-child {
  font-weight: bold;
  margin-bottom: 1rem;
}

.first-ul li {
  cursor: pointer;
  font-size: 14px;
}

.first-ul li:hover {
  text-decoration: underline;
}

h4 {
  color: white;
  margin: 0;
  padding: 0;
}

h4:hover {
  text-decoration: underline;
}