* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;


}

header #logo {
  height: 4rem;
  margin: 0, 5rem 1rem;
}

header nav {
  display: flex;
  align-items: center;
  text-align: center;



}

header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  text-align: center;
  justify-content: end;
}

header nav ul li {
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

header nav ul li:hover {
  background-color: blue;
  color: #fff;
  border-radius: 5px;
}

main {
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

footer {
  background-image: url('/img/footer-bg.jpg'), url('/img/dc-logo-bg.png');
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem 0;
  text-align: center;
  min-height: 200px;
}

.colonna {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  background-color: blue;
}